<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="AutomationSuite" verbose="1" parallel="classes" thread-count="3">
    <listeners>
        <listener class-name="TestComponent.Listeners"/>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="AllTests">
        <classes>
            <class name="P01_LoginPageTC"/>
            <class name="P02_ProductsPageTC"/>
            <class name="P03_CartPageTC"/>
            <class name="P04_CheckoutPageTC"/>
            <class name="EndToEndTC"/>
        </classes>
    </test>
</suite>
